{% extends "app/layout.html" %}
{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<h1>Insertar una pelicula</h1>
<form id="new_pelicula" action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <br />
    <div class="form-group">
        <label for="titulo" class="control-label">Titulo</label>
        {{ form.titulo }}
    </div>
    <div class="form-group">
        <label for="direccion" class="control-label">Direccion</label>
        {{ form.direccion }}
    </div>
    <div class="form-group">
        <label for="anio" class="control-label">Año</label>        
        {{ form.anio }}
    </div>
    <div class="form-group">
        <label for="genero" class="control-label">Genero</label>         
        {{ form.genero }}
    </div>
    <div class="form-group">
        <label for="sinopsis" class="control-label">Sinopsis</label>         
        {{ form.sinopsis }}
    </div>
    <div class="form-group">
        <label for="votos" class="control-label">Votos</label>
        {{ form.votos }}
    </div>
    <div class="form-group">
        <label for="imagen" class="control-label">Imagen</label>
        {{ form.imagen }}
    </div>
    <div class="form-group">
        <input type="submit" value="Insertar pelicula"  class="btn btn-primary"/>
    </div>
</form>
{% endblock %}

{% block scripts %}

{% load staticfiles %}
<script src="{% static 'app/scripts/ajax.js' %}"></script>

{% endblock %}