{% extends "app/layout.html" %}
{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<h1>Insertar una pelicula</h1>
<form action="." method="POST">
    {% csrf_token %}
        <div class="form-group">
            <label for="titulo" class="col-md-2 control-label">Titulo</label>
            <div class="col-md-10">
                {{ form.titulo }}
            </div>
        </div>
        <div class="form-group">
            <label for="direccion" class="col-md-2 control-label">Direccion</label>
            <div class="col-md-10">
                {{ form.direccion }}
            </div>
        </div>
        <div class="form-group">
            <label for="anio" class="col-md-2 control-label">Año</label>
            <div class="col-md-10">
                {{ form.anio }}
            </div>
        </div>
        <div class="form-group">
            <label for="genero" class="col-md-2 control-label">Genero</label>
            <div class="col-md-10">
                {{ form.genero }}
            </div>
        </div>
        <div class="form-group">
            <label for="sinopsis" class="col-md-2 control-label">Sinopsis</label>
            <div class="col-md-10">
                {{ form.sinopsis }}
            </div>
        </div>
        <div class="form-group">
            <label for="votos" class="col-md-2 control-label">Votos</label>
            <div class="col-md-10">
                {{ form.votos }}
            </div>
        </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Insertar pelicula" />
        </div>
    </div>
</form>
{% endblock %}